/* TENDENCIAS */

.trends .title-container h2 {
    background-color: var(--planeta-geek-celeste);
    color: var(--black);
    font-size: var(--xlg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 0;
    /* position: relative; */
}

.trends .title-container h2:before {
    top: 50;
    left: 2.5rem;
    display: inline-block;
    content: "";
    width: 0.8rem;
    height: 6rem;
    transform: skewX(-10deg);
    background: var(--planeta-geek-shadow-celeste);
    position: absolute;
    border-right: 3px solid var(--nav-left-borders);
}

.trends .title-container p {
    flex-grow: 1;
    border-bottom: 0.3rem solid var(--planeta-geek-celeste);
}


.trend-1__container, .trend-2__container, .trend-3__container {
    width: 30rem;
    min-height: 45rem;
    background-color: var(--background-article);
    margin: 4rem auto 0;
    padding-bottom: 1rem;
}

.trend-1 .img1-container {
    width: 30rem;
    height: 20rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trend-1 .img1-container img {
    width: 100%;
    /* height: 20rem; */
    transition: 0.8s ease all;
}

.trend-1 .img1-container img:hover {
    width: 120%;
    /* height: 30rem; */
}

.trend-2 .img2-container {
    width: 30rem;
    height: 20rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trend-2 .img2-container img {
    width: 100%;
    /* height: 20rem; */
    transition: 0.8s ease all;
}

.trend-2 .img2-container img:hover {
    width: 120%;
    /* height: 30rem; */
}

.trend-3 .img3-container {
    width: 30rem;
    height: 20rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trend-3 .img3-container img {
    width: 100%;
    /* height: 20rem; */
    transition: 0.6s ease all;
}

.trend-3 .img3-container img:hover {
    width: 120%;
    /* height: 30rem; */
}

.trend-1 h3, .trend-2 h3, .trend-3 h3 {
    width: 100%;
    color: var(--planeta-geek-celeste-border);
    margin-top: 1rem;
    font-size: var(--lg);
    padding: 1rem 2rem 0;
}

.trend-1 p, .trend-2 p, .trend-3 p {
    width: 100%;
    color: var(--white);
    font-weight: 300;
    margin-top: 1rem;
    font-size: var(--md);
    padding: 0 2rem 0;
    line-height: 2.5rem;
}

.trend-1 a, .trend-2 a, .trend-3 a {
    width: 100%;
    color: var(--planeta-geek-celeste-border);
    text-decoration: none;
}